@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}
    /* CSS Variables */
    html{
        --text-primary-color: #93cb52;
    }
/* Utility Classes*/
.text-primary{
    color:var(--text-primary-color);
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    width: 15%;
    display: inline-block;
    background: var(--text-primary-color);
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    margin: 0 auto;

}

.btn:hover{
    background: #7ab436;
}

.btn-dark{
    background: #333;
    color: #333;
}


/* Navbar */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    justify-content: space-between;
    z-index:1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: var(--text-primary-color);
    border-radius: 5px;
}

/* Showcase */
#showcase{
    background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
}

#showcase .showcase-content{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 2rem;
    /* OVERLAY */
    /* position: absolute; */
    background:rgba(0,0,0,0.4);
    /* top: 0;
    left: 0;
    bottom:0;
    right: 0; */
    
}